# 운영 체제 파일
.DS_Store
Thumbs.db

# 로그 파일
*.log

# 빌드 디렉토리
/build/
/dist/

# Python 관련
__pycache__/
*.py[cod]
*.pyo
*.pyc
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/

# 가상 환경
.venv/
venv/

# 환경 설정 파일
.env
.env.local
.env.*.local
.vscode/
.idea/

# Django 관련
*.sqlite3
media/
staticfiles/

# Poetry 관련
poetry.lock

# 기타
*.swp
*.swo
